<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
    <h2>{{event?.name | uppercase }}</h2>
    <div>Date: {{event?.date | date:'shortDate'}}</div>
    <div [ngClass] ="getStartTimeClass()" [ngSwitch] = "event?.time">
        Time: {{event?.time}}
        <span *ngSwitchCase="'8:00am'">(Early Start)</span>
        <span *ngSwitchCase="'10:00am'">(Late Start)</span>
        <span *ngSwitchDefault>(Normal Start)</span>
    </div>
    <div>Price: {{event?.price | currency: 'AUD'}}</div>
    <div *ngIf="event?.location">
        <span>Location: {{event?.location?.address}}</span>
        <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
    </div>
    <div *ngIf="event?.onlineUrl">
        Online URL: {{event?.onlineUrl}}
    </div>
</div>
